/* 只需要重写你需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      // 主色
      //'base': #27ba9b,
      'base': #009688,
    ),
    'success': (
      // 成功色
      'base': #1dc779,
    ),
    'warning': (
      // 警告色
      'base': #ffb302,
    ),
    'danger': (
      // 危险色
      'base': #e26237,
    ),
    'error': (
      // 错误色
      'base': #cf4444,
    ),
  )
);

$base-title-color: #fff;
$base-menu-width: 260px; // 菜单宽度
$base-menu-logo-height: 85px;

$base-menu-bg-color: #001529; // 菜单背景色
$base-menu-text-color: #fff;
$base-menu-active-bg-color: #002140;
$base-menu-active-text-color: #27ba9b;
$base-menu-hover-text-color: #27ba9b;
$base-menu-hover-bg-color: #002140; // 菜单hover背景色
